{% extends 'base.html' %}

{% block body %}
<div class="about">
  <h1>
    <u>ABOUT US</u>
  </h1>
  <br><br>
  <p>
    Sparrow's Emporium.com is a differentiated e-commerce solution which provides a platform for Ladies, connection to
    brands, payments as microfinance, and last-mile fulfillment to the customers. It is the ultimate online shopping
    destination for Bangladesh offering completely hassle-free shopping experience through secure and trusted gateways.
    We offer you trendy and reliable shopping with all your favorite brands and more. Now shopping is easier, faster and
    always joyous. We help you make the right choice here.
    <br><br>

    Sparrow's Emporium is the most customer centric online retailer enabling small and medium businesses to sell a wide
    selection of authentic products to the customers. Sparrow'sEmporium is aggregating small businesses into a
    network.<br><br>

    Sparrow's Emporium.com has been launched in September 2021. Sparrow'sEmporium showcases products from categories
    such as clothing, footwear, jewellery, accessories. Our collection combines the latest in fashion trends as well as
    the all-time favorites. Our products are exclusively selected for you. We, at Sparrow's Emporium, have all that you
    need under one umbrella.<br><br>

    In tune with the vision Digital Bangladesh, Sparrow'sEmporium.com opens the doorway for everybody to shop over the
    Internet. We constantly update with lot of new products, services and special offers. We provide on-time delivery of
    products and quick resolution of any concerns.<br><br>

    We provide our customers with memorable online shopping experience. Our dedicated Sparrow'sEmporium quality
    assurance team works round the clock to personally make sure the right packages reach on time. You can choose
    whatever you like. We deliver it right at your address across Bangladesh. Our services are at your doorsteps all the
    time. Get the best products with the best online shopping experience every time. You will enjoy online shopping
    here!<br><br>
  </p>
</div>

{% endblock %}