{% extends 'base.html' %}

{% block body %}
<div class="contact">
  <h1>

    <u> CONTACT US</u>
  </h1>
  <br><br>
  We would like to receive your feedback about our site and any question or comment. Keep in contact wth us and feel
  free to express any opinion, viewpoint, suggestion or comment that you might have.
  Corporate Office -

  <br><br>
  Sparrow'sEmporium.com
  <br><br>
  House: 6/A, Mirpur-2, Dhaka.
  <br>
  Working Hour: 09.00 AM to 11.00 PM<br>
  Email: support@Sparrow'sEmporium.com<br>
  Website: www.Sparrow'sEmporium.com<br>
  Facebook: https://www.facebook.com/Sparrow'sEmporium <br>
  PHONE NUMBER : (+880) 162384904<br><br>
  <br>

</div>

{% endblock %}
