{% extends 'base.html' %}

{% block body %}

<div class="privacy">

  <h1><u>Privacy & Policy</u></h1>
  <br><br>
  <p>This privacy policy sets out how Sparrow'sEmporium.com uses and protects any information that you give here when
    you use this website. We view protection of your privacy as a very important principle. We are committed to ensuring
    your privacy here. Your information will only be used in accordance with this privacy statement whenever we ask you
    to provide any information by which you can be identified while using this website.

    You will be required to enter a valid phone number while signing up and placing an order on Sparrow'sEmporium. By
    registering your phone number with us, you consent to be contacted by us via phone calls or mail or SMS, in case of
    any order or delivery related updates. Sparrow'sEmporium will not use your personal information to initiate any
    promotional phone call or SMS. We store and process your information in computers that are protected by physical as
    well as reasonable technological security measures.

    Sparrow'sEmporium may change this privacy policy from time to time if needed by updating this page. Please check
    this page periodically to ensure that you are happy with our privacy policy.
    <br><br>
    <b>1. Use of credit/debit cards:</b>
    <br>
    Shopping at Sparrow'sEmporium is 100% safe. All Credit card and Debit card payments on Sparrow'sEmporium are
    processed through secure and trusted payment gateways. When you transact here, you pay at the payment page which is
    incorporated with your respected bank. So, your bank deals with your credit/debit card information. You can be
    assured that Sparrow'sEmporium offers you the highest standards of security currently available on the internet so
    as to ensure that your shopping experience is private, safe and secure.
    <br><br>
    <b> 2. Links to other websites:</b>
    <br>
    Our website may contain links to other websites of interest. However, once you have used these links to leave our
    site, you should note that we do not have any control over the other websites. Therefore, we cannot be responsible
    for the protection and privacy of any information which you provide whilst visiting such sites. We provide security
    only at our website.
    <br><br>
    <b> 3. Content you submit:</b>
    <br>
    You agree that any information submitted belongs to you or you have permission to submit them. Content means but is
    not restricted to text, graphics, photos, logos, audio/video files etc. You agree to indemnify us from all
    responsibility and not hold us responsible for displaying any information you submit to us.
  </p>

  <br>
  <h1><u>Terms</u></h1>
  <br><br>
  <p>The domain name www.Sparrow'sEmporium.com is owned by Sparrow'sEmporium.com Limited, whose registered office is at
    House: 6/A, Mirpur-2, Dhaka. Your use of this e-commerce portal and services and tools are governed by the following
    terms and conditions (Terms of Use) as applicable to the website. When you visit the website, you are subject to the
    policies that are applicable here.

    For the purpose of these Terms of Use, wherever the context so requires ‘You’ or ‘User’ or ‘Visitor’ will mean any
    natural or legal person who has agreed to become a member of the site by signing up. Sparrow'sEmporium allows user
    to surf the website or making purchases without registering on the website. The term “we”, “us”, “our” will mean
    Sparrow'sEmporium.com

    When you use Sparrow'sEmporium.com, we collect and store your personal information which is provided by you from
    time to time. Our primary goal in doing so is to provide you a safe, efficient, and customized experience. This
    allows us to provide services and features that most likely meet your needs.

    If you choose to mail us or leave feedback, we will collect that information you provide to us. We retain this
    information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by
    law. In our efforts to continually improve our product and service offerings, we collect and analyze demographic and
    profile data about our users’ activity on our website. Our website may link to other websites too. These links are
    provided for your convenience to provide further information. Sparrow'sEmporium.com is not responsible for the
    practices, term of use or the content of those linked websites.

    This website contains materials which are owned by us. These materials include, but are not limited to, the design,
    look, appearance, data, and graphics. Reproduction is prohibited other than in accordance with the copyright law.
    Unauthorized use of this site may give rise to a claim for damages. Products at this e-commerce portalare sold by
    respective sellers. All materials on this site are protected by copyrights, trademarks, and other intellectual
    property rights. Material on website is solely for personal and non-commercial use of users. Without the prior
    written consent of the owner, modification or use of the materials on any other website is violation of the law, and
    is prohibited.

    We reserve the right to change, modify, add or remove portions of these Terms of Use at any time without any prior
    written notice. If we decide to change the terms of use, we will post those changes on this page so that you are
    always aware of what information we collect and how we use it.

    <br>
    <br><br>





  <h3> Copyright © 2021 Sparrow's Emporium.com. All rights reserved.Powered by E-Commerce.</h3>
  <br><br>

  </p>

</div>

{% endblock %}